<div class="sp_subnav">

<div class="midashi"><a href="/course/">コミュニケーション講座</a></div>
<ul style="margin-top: 0">
<li>
<a href="/course/1_intro.html">はじめての方へ</a></li>
</ul>
<div class="sp_sbtitle">基本コース</div>
<ul style="margin-top: 0">
<li><a href="/course/mental.html">心理学コース</a></li>
<li><a href="/course/ningenkankei.html">人間関係コース</a></li>
<li><a href="/course/business.html">社会人基礎コース</a></li>
<li><a href="/young">未成年向けコース</a></li>
</ul>

<div class="sp_sbtitle">短期集中コース</div>
<ul style="margin-top: 0">
<li><a href="/course/01_kanto/index.html">関東短期集中講座　<img src="/templates/course/01_kanto/icon_date_tanki.png?20170611" width="96"></a></li>
</ul>
 
<div class="sp_sbtitle">カウンセリング</div>
<ul style="margin-top: 0">
<li><a href="/course/counseling/group.html">グループカウンセリング</a></li>
<li><a href="/course/counseling/psychology.html">心理カウンセリング</a></li>
<li><a href="/course/counseling/shinri.html">心理検査</a></li>
</ul>

<div class="sp_sbtitle">受講料金</div>
<ul style="margin-top: 0">
<li><a href="/course/4_price.html">基本コース 受講料金</a></li>
<li><a href="/course/4_2_price.html">カウンセリング 受講料金</a></li>
</ul>

<div class="midashi">ご受講に関して</div>
<div class="sp_sbtitle">スケジュール・会場</div>
<ul style="margin-top: 0">
<li><a href="/course/class/class_shinjuku.php">新宿教室</a></li>
<li><a href="/course/class/class_shinjuku2.php">新宿第２教室（平日）</a></li>
<li><a href="/course/class/class_ginza.php">御茶ノ水第１教室</a></li>
<li><a href="/course/class/class_akihabara.php">御茶ノ水第２教室</a></li>
<li><a href="/course/class/class_shinjuku_02.php">銀座教室（社会人基礎）</a></li>
<li><a href="/course/class/class_yokohama.php">横浜教室</a></li>
<li><a href="/course/class/class_saitama.php">埼玉教室</a></li>
<li><a href="/course/class/class_chiba.php">千葉教室</a></li>
<li><a href="/course/class/class_kansai.php">関西第１教室</a></li>
<li><a href="/course/class/class_kansai2.php">関西第２教室</a></li>
</ul>


<div class="sp_sbtitle">仮予約</div>
<ul style="margin-top: 0">
<li><a href="/course/6_reservation.html">仮予約する</a></li>
</ul>

<div class="sp_sbtitle">その他・注意事項</div>
<ul style="margin-top: 0">
<!--<li><a href="/course/5_confirmation.html">注意事項</a></li>-->
<li><a href="/course/keizoku.html">継続について</a></li>
<li><a href="/course/furikae.html">おやすみについて</a></li>
<li><a href="/course/seitosannokoe.html">生徒さんの声</a></li>
<li><a href="/course/yokuarushitumon.html">よくある質問</a></li>
</ul>

</div>