@charset "utf-8";
/*=========================================================
 *
 *	css file for "www.direct-comm.com"
 *	file name : content.css
 *
=========================================================*/



/* -------------------------------------------------- */
/* content */
/* -------------------------------------------------- */

div#content {
	width: 712px;
	float: right;
	padding-left: 22px;
}



div#contenttop {
	width: 712px;
	height: 5px;
	background: url(../sharedimg/course/bg_contenttop.gif) no-repeat top right;
}

div#bg_contentbottom {
	width: 712px;
	height: 5px;
	background: url(../sharedimg/course/bg_content_bottom.gif) no-repeat top left;

}





/* -------------------------------------------------- */
/* imgbox */
/* -------------------------------------------------- */



div.imgbox {
	width: 270px;
	float: right;
	text-align: left;
	padding-left: 20px;
	margin-bottom: 20px;
}

div.imgbox span {
	display: block;
	text-align: center;
	font-size: 10px;
}

div.imgcenter {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

div.imgboxleft {
	width: 270px;
	float: left;
	padding-right: 10px;
	margin-bottom: 20px;
}

div.imgboxleft span {
	display: block;
	text-align: center;
	font-size: 11px;
}

/* -------------------------------------------------- */
/* spvisual */
/* -------------------------------------------------- */
#spvisual,
.sp_subnav,
#spnav,
div#footercontainer div#small .sp {
	display: none;
}




/* main */
/* -------------------------------------------------- */


div.main {
	padding: 15px;
	padding-top: 10px;
	border-right: 1px solid #C9C9C8;
	border-left: 1px solid #C9C9C8;
	background: #fff;
	font-size: 14px;
	color: #5e5d51;
}

div.main p {
	margin-bottom: 30px;
	line-height: 1.8;
}

div.main a {
	text-decoration: underline;
}

div.main div#keyvisual {
	margin-bottom: 15px;
}


div.main div.wrap {
	/*padding-left: 20px;
	padding-right: 10px;*/
	padding-left: 15px;
	padding-right: 15px;
}

/*�P�s�Ɏ��܂郁�C���^�C�g��*/
div.main p.title_01 {
	width: 620px;
	height: 28px;
	padding: 12px 0 10px 50px;
	background: url(../sharedimg/title_main_01.gif) no-repeat top left;
	font-size: 18px;
}
div.main p.title_01_02 {
	width: 620px;
	height: 54px;
	padding: 12px 0 10px 50px;
	background: url(../sharedimg/title_main_01_02.gif) no-repeat top left;
	font-size: 18px;
	line-height: 1.5;
}
/*�Q�s�Ɏ��܂郁�C���^�C�g��*/
div.main p.title_02 {
	width: 680px;
	height: 75px;
	padding: 12px 0 10px 50px;
	background: url(../sharedimg/title_main_02.gif) no-repeat top left;
	font-size: 17px;
	line-height: 1.6;
}


/*�T�u�^�C�g�� �{�[���h*/

div.main p.subtitle_01 {
	font-weight: bold;
	font-size: 18px;
	color: #0080ff;
}


/* -------------------------------------------------- */
/* course�y�[�W */
/* -------------------------------------------------- */

div.main p.title {
	margin: 15px 0;
}

div.main div.detail {
	text-align: right;
}

/* info */
/* -------------------------------------------------- */


div#info {
	width:680px;
	height: 370px;
	position: relative;
}

.class_shinjuku01 {
	background: url(../images/course/schedule/img_info_shinjuku_bg.jpg) no-repeat left top;
}
.class_shinjuku02 {
	background: url(../images/course/schedule/img_info_shinjuku02_bg.jpg) no-repeat left top;
}
.class_yokohama {
	background: url(../images/course/schedule/img_info_yokohama_bg.jpg) no-repeat left top;
}
.class_ginza {
	background: url(../images/course/schedule/img_info_ginza_bg.jpg) no-repeat left top;
}
.class_saitama {
	background: url(../images/course/schedule/img_info_saitama_bg.jpg) no-repeat left top;
}
.class_kansai {
	background: url(../images/course/schedule/img_info_kansai_bg.jpg) no-repeat left top;
}
.class_kansai2 {
	background: url(../images/course/schedule/img_info_kansai2_bg.jpg) no-repeat left top;
}


div#info span#date {
	position: absolute;
	top: 120px;
	left: 40px;
	font-size: 20px;
	letter-spacing: 0.1em;
}

div#info span#beginner {
	position: absolute;
	width: 116px;
	height: 28px;
	top: 120px;
	left: 230px;
}




div#info span#title {
	position: absolute;
	top: 150px;
	left: 40px;
	width: 580px;
	text-align: center;
	font-size: 20px;
}

div#info p,
div#info p#exp {
	position: absolute;
	top: 230px;
	left: 60px;
	color: #008266;
	font-size: 16px;
}

div#illustbox {
	width: 180px;
	height: 150px;
	position: absolute;
	top: 180px;
	right: 60px;
	text-align: right;
}


/* curriculum */
/* -------------------------------------------------- */

div#curriculum {
	width: 590px;
	margin: auto;
	padding: 0 40px;
	background: url(../sharedimg/course/bg_curriculum.gif) repeat-y;
}


div#curriculum p {
	margin: 0;
	line-height: 1.4;
	padding-bottom: 20px;
}

div#curriculum p.theme {
	font-size: 18px;
	font-weight: bold;
	color: #099;
	padding: 10px 0;
}

div#curriculum hr.line2 {
	border: none;
	width: 590px;
	height:3px;
	margin: 8px 0;
	background: url(../sharedimg/course/line_curriculum.gif) no-repeat top left;
}

div#curriculum ul {
	padding: 10px 0 20px 20px;;
}

div#curriculum ul li {
	padding-left: 30px;
	padding-bottom: 10px;
	background: url(../sharedimg/icon/icon_futaba.gif) no-repeat 0px 3px;
}



div#curriculum ul li ul {
	padding-left: 40px;
}

div#curriculum ul li ul li {
	background: url(../sharedimg/icon/icon_list.gif) no-repeat 0px 5px;
}

div#curriculum span.subtitle {
	display: block;
	padding: 2px 0;
	font-weight: bold;
	font-size: 16px;
}







div#curriculumtop {
	width: 670px;
	height: 30px;
	margin: auto;
	margin-top: 20px;
	background: url(../sharedimg/course/bg_curriculumtop.gif) no-repeat top left;
}

div#curriculumbottom {
	width: 670px;
	height: 30px;
	margin: auto;
	margin-bottom: 20px;
	background: url(../sharedimg/course/bg_curriculumbottom.gif) no-repeat top left;
}


/* course button */
/* -------------------------------------------------- */


ul#course {
}

ul#course li {
	display: inline;
}

ul#course li a {
	display: block;
	width: 230px;
	height: 210px;
	float: left;
	text-indent: -9999px;
	background: url(../sharedimg/course/bg_course.jpg) no-repeat top left;
}

ul#course li a.side {
	width: 220px;
}

ul#course li#mental a { background-position: 0 0; }
ul#course li#mental a:hover { background-position: 0 -210px; }

ul#course li#ningenkankei a { background-position: -230px 0; }
ul#course li#ningenkankei a:hover { background-position: -230px -210px; }


ul#course li#business a { background-position: -460px 0; }
ul#course li#business a:hover { background-position: -460px -210px; }



/* course_sub button */
/* -------------------------------------------------- */

ul#course_sub {
}

ul#course_sub li {
	display: inline;
}

ul#course_sub li a {
	display: block;
	width: 230px;
	height: 70px;
	float: left;
	text-indent: -9999px;
	background: url(../sharedimg/course/bg_course_sub.gif) no-repeat top left;
}

ul#course_sub li a.side {
	width: 220px;
}

ul#course_sub li#guide a { background-position: 0 0; }
ul#course_sub li#guide a:hover { background-position: 0 -70px; }

ul#course_sub li#eriko a { background-position: -230px 0; }
ul#course_sub li#eriko a:hover { background-position: -230px -70px; }

ul#course_sub li#photo a { background-position: -460px 0; }
ul#course_sub li#photo a:hover { background-position: -460px -70px; }


/* gallery */
/* -------------------------------------------------- */
div.photogallery {
	width: 620px;
	height:460px;
	padding: 60px 30px 10px 30px;
}

div.photogallery p.title {
	font-size: 18px;
	font-weight: bold;
}





/* form */
/* -------------------------------------------------- */

div#form {
	width: 500px;
	margin: auto;
}

div#form p {
	font-size: 14px;
	margin-bottom: 10px;
}


div#form input.form_text {
	width: 500px;
	height: 20px;
	border: none;
	border: 1px solid #888;
	padding: 2px 4px;
	background: #FFFDEB;
	font-size: 16px;
}

div#form input.form_text2 {
	width: 100px;
	height: 20px;
	border: none;
	border: 1px solid #888;
	padding: 2px 4px;
	background: #FFFDEB;
	font-size: 16px;
}


div#form textarea {
	width: 500px;
	height: 100px;
	background: #FFFDEB;
	border: 1px solid #888;
}




/* table001 */
/* -------------------------------------------------- */

table.table001 {
	margin-top: 0.2em;
	margin-bottom: 1em;
	border-collapse: separate;
	border-spacing: 0px;
	/*border: 1px solid #ccc;*/
	border-bottom: 1px solid #ccc;
	font-size: 80%;
	color: #555;
	text-align: center;
	width: 550px;
}

table.table001 td {
	text-align: left;
	border: 1px solid #ccc;
	border-bottom: none;
	padding: 10px 20px;
}


/* table010 */
/* -------------------------------------------------- */

table.table010 {
	margin-top: 0.2em;
	margin-bottom: 1em;
	border-collapse: separate;
	border-spacing: 0px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	color: #555;
	text-align: center;
	width: 660px;
	margin: auto;
	margin-bottom: 20px;
}

table.table010 td {
	text-align: left;
	border: 1px solid #ccc;
	border-bottom: none;
	border-right: none;
	padding: 10px 20px;
	text-align: left;
}

/* table011 */
/* -------------------------------------------------- */

table.table011 {
  margin-top: 0.2em;
  margin-bottom: 1em;
  width: 660px;
  border-collapse: collapse;
  border: solid 1px #999;
  font-size: 70%;
}

table.table011 caption {
  margin-top: 1em;
  text-align: left;
}

table.table011 th,
table.table011 td {
  border: solid 1px #999;
  padding: 4px;
}

table.table011 td {
	width: 133px;
	color: #666;
}


table.table011 th {
  /*background: #E6E6E6;*/
  text-align: center;
  white-space: nowrap;
  color: #666;
}

table.table011 td.course {
  text-align: center;
  /*font-weight: bold;*/
  /*width: 320px;*/
}



/* table012 */
/* -------------------------------------------------- */



table.table012 {
	margin: auto;
	margin-top: 0.2em;
	margin-bottom: 1em;
	border-collapse: separate;
	border-spacing: 0px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	color: #555;
	text-align: center;
	width: 100%;
	margin-bottom: 40px;
}

table.table012 tr {
}

table.table012 tr td {
	text-align: left;
	border: 1px solid #ccc;
	border-bottom: none;
	border-right: none;
	text-align: left;
	padding: 12px 8px;
	color: #0080ff;
	color: #999;
	line-height: 1.8;
}

table.table012 tr td img {
}

table.table012 tr td strong {
	color: #888;
}



/* table#schedule */
/* -------------------------------------------------- */

table#schedule {
	width: 100%;
	border-spacing: 0px;
	border-collapse: separate;
	text-align: left;
	font-size: 12px;
}

table#schedule tr {
}


table#schedule tr td {
	padding: 2px 4px;
	border: 1px solid #ccc;
}

table#schedule tr td.class {
	width: 65px;
	text-align: center;
}

table#schedule tr td.title {
	/*width: 140px;*/
	text-align: left;
	padding: 0;
	/*background: #008968;*/
	background: #E5DCD0;
}

table#schedule tr td.theme {
	font-size: 12px;
	padding: 0;
	padding-left: 4px;
	text-align: left;
}


/* prof */
/* -------------------------------------------------- */

div.prof_box {
	width: 680px;
	margin: auto;
}

div.prof_box div.prof_img {
	width: 180px;
	padding: 4px 20px 0 20px;
	float: left;
}

div.prof_box div.prof_text {
	width: 460px;
	float: right;
}

div.prof_box div.prof_text p.prof_title {
	background: #b1d0b4;
	color: #fff;
	padding: 2px 0 2px 20px;
	font-weight: bold;
}

div.prof_box div.prof_text ul {
	padding: 4px 0;
}

div.prof_box div.prof_text ul li {
	padding-left: 30px;
	background: url(../sharedimg/icon/icon_list.gif) no-repeat 15px 4px;
	line-height: 1.8;
}



div.prof_box div.prof_text p {
	margin: 4px 0 0 0;
	padding-left: 30px;
	line-height: 1.8;
}

/* 2015-08-20 */
div.prof_box a.prof_btn {
    display: block;
    background: #FBEFD2;
    padding: 10px;
    width: 80%;
    text-align: center;
    text-decoration: none;
    color: #333;
    box-shadow: 2px 2px 2px #ccc;
}

div.prof_box a.prof_btn:hover {
    opacity: 0.7;
}

div.prof_detail p {
    padding-left: 2em;
}


div.frame_mental {
	width: 630px;
	height: 185px;
	padding-top: 50px;
	padding-left: 50px;
	background: url(../sharedimg/text/bg_frame_text_mental.gif) no-repeat left top;
}
div.frame_mental ul { font-size: 16px; }
div.frame_mental ul li { margin-bottom: 4px; }

div.frame_ningenkankei {
	width: 630px;
	height: 185px;
	padding-top: 50px;
	padding-left: 50px;
	background: url(../sharedimg/text/bg_frame_text_ningenkankei.gif) no-repeat left top;
}
div.frame_ningenkankei ul { font-size: 16px; }
div.frame_ningenkankei ul li { margin-bottom: 4px; }

div.frame_katsuzetsu {
	width: 630px;
	height: 185px;
	padding-top: 50px;
	padding-left: 50px;
	background: url(../sharedimg/text/bg_frame_text_katsuzetsu.gif) no-repeat left top;
}
div.frame_katsuzetsu ul { font-size: 16px; }
div.frame_katsuzetsu ul li { margin-bottom: 4px; }


p.caption {
	font-weight: bold;
	font-size: 18px;
	margin: 10px 0;
}




