<div class="sp_subnav">
    <div class="sp_sbtitle">過去の短期集中講座</div>
    <ul>
        <li><a href="/course/01_kanto/tanki_20160811.html">2016年8月11日<br>森田療法講座<br>〜不安との向き合い方がわかる〜</a></li>
        <li><a href="/course/01_kanto/tanki_20160326.html">2016年3月26日<br>ソーシャルスタイル入門講座<br>〜相手の性格に応じた4つの対処法〜</a></li>
        
        <li><a href="/course/01_kanto/tanki_20151122.html">2015年11月22日<br>アイデンティティ基礎講座</a></li>
        <li><a href="/course/01_kanto/tanki_20150720.html">2015年7月20日<br>【追加開催】ストレスとのうまい付き合い方</a></li>
        <li><a href="/course/01_kanto/tanki_20150322.html">2015年3月22日<br>ストレスとのうまい付き合い方</a></li>

        <li><a href="/course/01_kanto/tanki_20140817.html">2014年8月17日<br>「大人の発達障害」を知ろう</a></li>
        <li><a href="/course/01_kanto/tanki_20140330.html">2014年3月30日<br>交流分析・相性改善講座</a></li>

        <li><a href="/course/01_kanto/tanki_20130923.html">2013年9月23日<br>アンガーマネジメント講座<br>～イライラとうまくつきあう方法～</a></li>

        <li><a href="/course/01_kanto/tanki_20120428.html">2012年4月28日<br>絵画療法体験講座<br>～絵を書いて心の問題を理解しよう～</a></li>

        <li><a href="/course/01_kanto/tanki_20110704.html">2011年7月4日<br>ストレスマネジメント講座<br>～ストレスをうまくつきあう７つのコツ～</a></li>
        <li><a href="/course/01_kanto/tanki_20110110.html">2011年1月10日<br>交流分析入門<br>～日常生活に活かす交流分析～</a></li>

        <li><a href="/course/01_kanto/tanki_20100910.html">2010年9月10日<br>心理療法体験講座<br>～心理療法とは？基礎を学ぶ～</a></li>
        <li><a href="/course/01_kanto/tanki_20100630.html">2010年6月30日<br>カウンセリングスキル基礎講座<br>～悩みの相談に乗る技術～</a></li>
    </ul>
</div><!-- end nav -->

