@charset "utf-8";



/* 共通設定 */

/*h1,h2,h3 {
	font-weight: normal;
}*/




/* ---------------------------------------------------------------------*/
/* fukan */
/* ---------------------------------------------------------------------*/

ul#fukan {
	text-align: left;
	margin-bottom: 0px;
}

ul#fukan li {
	width: 50%;
	float: left;
	
}

ul#fukan li a {

	text-decoration: none;
	color:#008768;
}


ul#fukan li a:visited {
	color:#008768;
	font-weight:bold;
}







