<div id="footer">
<div id="pagetop">
<div id="btn_pagetop">
<a href="#page_top"><!-- --></a>
</div>
</div><!-- end pagetop -->
<div id="footercontainer">
<div id="nav">
<div class="section">
<P>●ダイレクトコミュニケーション</p>
<ul>
<li><a href="/company/">・会社概要</a></li>
<li><a href="/profile/">・講師紹介</a></li>
<li><a href="/company/contact.html">・お問い合わせ</a></li>
<li><a href="/company/privacy.html">・プライバシーポリシー</a></li>
</ul>
</div><!-- end section -->
<div class="section">
<P>●開催講座一覧</p>
<ul>
<li><a href="/course/1_intro.html">・はじめての方へ</a></li>
<li><a href="/course/mental.html">・心理学コース</a></li>
<li><a href="/course/ningenkankei.html">・人間関係コース</a></li>
<li><a href="/course/business.html">・社会人基礎コース</a></li>
</ul>
</div><!-- end section -->
<div class="section">
<P>●ダイコミュ通信教材</p>
<ul>
<li><a href="index.html">・通信講座について</a></li>
<li><a href="mental.html">・心理学通信講座</a></li>
<li><a href="ningenkankei.html">・人間関係通信講座</a></li>
<li><a href="katsuzetsu.html">・滑舌力UP！通信講座</a></li>
</ul>
</div><!-- end section -->
<div class="section"><a href="/company/contact.html"><img src="/common/sharedimg/footer/banner_footer2.gif" alt="お問い合わせ" /></a></div><!-- end section -->
</div><!-- end nav -->
<br class="brclear" />
<div id="small"><div id="small"><span class="pc">Copyright(c) 2006-2013 Direct Communication co.,Ltd all right reserved<br />
<a href="/">コミュニケーション能力のことなら「ダイレクトコミュニケーション」</a></span>
<span class="sp">&copy; Direct Communication, Inc.<br />
All Rights Reserved.</span>
</div><!-- end small --></div><!-- end small -->
</div><!-- end footercontainer -->
</div><!-- end footer -->

