<link href="/assets/css/base.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/css/header.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/css/sidebar.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/css/footer.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/css/content.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/css/rwd/sp.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="/assets/js/smoothscroll.js"></script>
<script type="text/javascript" src="/assets/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.validate.js"></script>
<script type="text/javascript" src="/assets/js/fadein.js"></script>
<script type="text/javascript" src="/assets/js/onoff.js"></script>
<script type="text/javascript" src="/assets/js/smart-crossfade.js"></script>
<script type="text/javascript" src="/assets/js/sp.js"></script>
<script type="text/javascript" src="/assets/js/init.js"></script>