<div id="header" class="pt00">
<div id="headercontainer">
<div id="headerright"><!-- --></div>
<div id="logowrap"><a href="/"><img src="/common/sharedimg/logo_directcomm.gif" alt="ダイレクトコミュニケーション能力,話し方教室" /></a></div>
<ul id="cloud_nav">
<li><a href="/company/contact.html"><img src="/img/btn_contact_cloud_off.gif" class="hover" /></a></li>
<li><a href="/course/mailmag.php"><img src="/img/btn_mmagazine_cloud_off.gif" class="hover" /></a></li>
<li><a href="/activity/index.html"><img src="/img/btn_seminer_cloud_off.gif" class="hover" /></a></li>
<li><a href="/chie/"><img src="/img/btn_chie_cloud_off.gif" class="hover" /></a></li>
</ul>
</div><!-- end headercontainer -->
<ul id="gnav">
<li id="home"><a href="/">ホーム</a></li>
<li id="course"><a href="/course/">コミュニケーション講座</a></li>
<li id="text"><a href="/text/" class="selected">ダイコミュ通信講座</a></li>
<li id="training"><a href="/training/">コミュニケーション能力トレーニング</a></li>
<li id="ability"><a href="http://commutest.com">コミュニケーション能力診断</a></li>
<li id="colums"><a href="/colums/">コミュニケーションコラム集</a></li>
<li id="event"><a href="/event/">ダイコミュイベント</a></li>
<li id="teacher"><a href="/profile/">講師紹介</a></li>
</ul><!-- end gnav -->

<!--<div id="spvisual">
<img src="/common/sharedimg/text/index/sp/img_keyvisual_text.jpg" height="208" width="640" alt="ダイコミュ通信講座" />
</div>-->

<div id="spnav">
<ul>
<li class="n01"><a href="/course/1_intro.html">初めての方へ</a></li>
<li class="n02"><a href="/training/"><span>コミュニケーション</span>トレーニング</a></li>
<li class="n03"><a href="/course/"><span>コミュニケーション</span>講座</a></li>
<li class="n04"><a href="/colums/"><span>コミュニケーション</span>知恵袋</a></li>
<li class="n05"><a href="/text/"><span>ダイコミュ</span>通信講座</a></li>
<li class="n06"><a href="/profile/"><span>ダイコミュ</span>講師紹介</a></li>
<li class="n07"><a href="/event/">イベント</a></li>
<li class="n08"><a href="/company/contact.html">お問い合わせ</a></li>
</ul>
</div>
</div><!-- end header -->
