<div id="header" class="pt00">
<div id="headercontainer">
<div id="headerright"><!-- --></div>
<div id="logowrap"><a href="/"><img src="/common/sharedimg/logo_directcomm.gif" alt="ダイレクトコミュニケーション能力,話し方教室" /></a></div>
<ul id="cloud_nav">
<li><a href="/company/contact.html"><img src="/img/btn_contact_cloud_off.gif" class="hover" alt="コミュニケーション能力疑問点" /></a></li>
<li><a href="/young"><img src="/img/btn_young_cloud_off.gif" class="hover" alt="コミュニケーション能力・学生講座" /></a></li>
<li><a href="/activity/index.html"><img src="/img/btn_seminer_cloud_off.gif" class="hover" alt="コミュニケーション能力研修" /></a></li>
<li><a href="/colums/"><img src="/img/btn_chie_cloud_off.gif" class="hover" alt="コミュニケーション能力向上コラム" /></a></li>
</ul>
</div><!-- end headercontainer -->
<ul id="gnav">
<li id="home"><a href="/">ホーム</a></li>
<li id="course"><a href="/course/">コミュニケーション講座</a></li>
<li id="text"><a href="/text/">ダイコミュ通信講座</a></li>
<li id="training"><a href="/training/">コミュニケーション能力トレーニング</a></li>
<li id="ability"><a href="https://commutest.com">コミュニケーション能力診断</a></li>
<li id="colums"><a href="/chie/">コミュニケーションコラム集</a></li>
<li id="event"><a href="/event/">ダイコミュイベント</a></li>
<li id="teacher"><a href="/profile/">講師紹介</a></li>
</ul><!-- end gnav -->


<?php if ($spvisual != "") : ?>
<div id="spvisual">
<img src="<?php echo $spvisual; ?>" height="208" width="640" alt="<?php echo $spvisual_alt; ?>" />
</div>
<?php endif; ?>

<div id="spnav">
<ul>
<li class="n01"><a href="/course/1_intro.html" class="btn_topleft">はじめての方へ</a></li>
<li class="n02"><a href="/course/" class="btn_right"><span>コミュニケーション</span>講座</a></li>
<li class="n03"><a href="/text/"><span>ダイコミュ</span>通信講座</a></li>
<li class="n04"><a href="/training/" class="btn_topleft"><span>コミュニケーション<br>トレーニング</span></a></li>
<li class="n05"><a href="https://commutest.com/"><span>コミュニケーション</span>能力診断</a></li>
<li class="n06"><a href="/chie/" class="btn_right"><span>コミュニケーション</span>知恵袋</a></li>
<li class="n07"><a href="/event/" class="btn_bottom">イベント</a></li>
<li class="n08"><a href="/profile/" class="btn_right btn_bottom">講師紹介</a></li>
</ul>
</div>
</div><!-- end header -->
