<div id="sidebar">

    <img src="/assets/sharedimg/course/img_title_tanki.gif" alt="過去の短期集中講座" width="290" height="44"/>
    
    <div class="nav">

        <p>2016年</p>
        <ul style="margin-top: 0">
            <li><a href="/course/01_kanto/tanki_20161217.html"><span>12月17日</span><br />
             「ことばの理解」<br />
            ～言語聴覚士によることばの講義～<br />
            </a></li>
            <li><a href="/course/01_kanto/tanki_20160811.html"><span>8月11日</span><br />
             森田療法講座<br />
            ～不安との向き合い方がわかる～<br />
            </a></li>
            <li><a href="/course/01_kanto/tanki_20160326.html"><span>3月26日</span><br />
             ソーシャルスタイル入門講座<br />
            〜相手の性格に応じた4つの対処法<br />
            </a></li>
        </ul>
        
        <p>2015年</p>
        <ul style="margin-top: 0">
            <li><a href="/course/01_kanto/tanki_20151122.html"><span>11月22日</span><br />
             アイデンティティ基礎講座<br />
            </a></li>
            <li><a href="/course/01_kanto/tanki_20150720.html"><span>7月20日</span><br />
             【追加開催】ストレスとのうまい付き合い方<br />
            </a></li>
            <li><a href="/course/01_kanto/tanki_20150322.html"><span>3月22日</span><br />
             ストレスとのうまい付き合い方<br />
            </a></li>
        </ul>

        <p>2014年</p>
        <ul style="margin-top: 0">
            <li><a href="/course/01_kanto/tanki_20140817.html"><span>8月17日</span><br />
              「大人の発達障害」を知ろう<br />
            </a></li>
            <li><a href="/course/01_kanto/tanki_20140330.html"><span>3月30日</span><br />
              交流分析・相性改善講座<br />
            </a></li>
        </ul>

        <p>2013年</p>
        <ul style="margin-top: 0">
            <li><a href="/course/01_kanto/tanki_20130923.html"><span>9月23日</span><br />
              アンガーマネジメント講座<br />
            ～イライラとうまくつきあう方法～<br />
            </a></li>
        </ul>


        <p>2012年</p>
        <ul style="margin-top: 0">
            <li><a href="/course/01_kanto/tanki_20120428.html"><span>4月28日</span><br />
              絵画療法体験講座<br />
            ～絵を書いて心の問題を理解しよう～<br />
            </a></li>
        </ul>

        <p>2011年</p>
        <ul style="margin-top: 0">
            <li><a href="/course/01_kanto/tanki_20110704.html"><span>7月4日</span><br />
              ストレスマネジメント講座<br />
            ～ストレスをうまくつきあう７つのコツ～<br />
            </a></li>
            <li><a href="/course/01_kanto/tanki_20110110.html"><span>1月10日</span><br />
              交流分析入門<br />
            ～日常生活に活かす交流分析～</a></li>
        </ul>

        <p>2010年</p>
        <ul style="margin-top: 0">
            <li><a href="/course/01_kanto/tanki_20100910.html"><span>9月10日</span><br />
              心理療法体験講座<br />
            ～心理療法とは？基礎を学ぶ～</a></li>
            <li><a href="/course/01_kanto/tanki_20100630.html"><span>6月30日</span><br />
              カウンセリングスキル基礎講座<br />
            ～悩みの相談に乗る技術～</a></li>
        </ul>

    </div><!-- end nav -->
    
    <div class="navbottom"><!-- --></div><!-- end navbottom -->

</div><!-- end sidebar -->

<hr class="clear" />

