@charset "utf-8";
/*=========================================================
 *
 *	css file for "www.direct-comm.com"
 *	file name : home.css
 *
=========================================================*/



/* -------------------------------------------------- */
/* sidebar */
/* -------------------------------------------------- */

div#sidebar {
	width: 290px;
	float: left;
	color: #5e5d51;
}


/* nav */
/* -------------------------------------------------- */


div#sidebar div.navtop {
	width: 290px;
	height: 5px;
	background: url(../sharedimg/bg_lnavtop.gif) no-repeat top left;
}

div#sidebar div.nav {
	width: 260px;
	background: url(../sharedimg/bg_lnav.gif) repeat-y;
	padding: 15px;
}

div#sidebar div.nav p {
	font-size: 13px;
	text-align: left;
	line-height: 1.8;
}

div#sidebar div.nav div.figure {
	margin: 30px 0;
	text-align: center;
}



div#sidebar div.nav div#prof {
	margin-bottom: 10px;
}


div#prof div#img_prof {
	width: 140px;
	float: left;
}

div#prof div#text_prof {
	width: 110px;
	padding-left: 10px;
	float: right;
}

div#prof div#text_prof p {
	font-size: 12px;
}




div#sidebar div.navbottom {
	width: 290px;
	height: 15px;
	background: url(../sharedimg/bg_lnav_bottom.gif) no-repeat top left;
}

div#sidebar div.nav div#prof:after {
	display: block;
	clear: both;
	height: 0;
	content: ".";
	visibility: hidden;
}




a.into {
	display: block;
	text-align: right;
	padding-right: 20px;
	font-size: 12px;
}




/* -------------------------------------------------- */
/* content */
/* -------------------------------------------------- */

div#content {
	width: 712px;
	float: right;
	padding-left: 22px;
}


/* main */
/* -------------------------------------------------- */


div#main {
	width: 400px;
	float: left;
}


div#main div.article {
	background: #fff;
}

div#main div.article p {
	text-align: left;
	font-size: 13px;
	color: #5e5d51;	
}

div#main div.article a {
	text-decoration: underline;
}


div#main div.article div.lead {
	padding: 15px;
	padding-bottom: 30px;
}

div#main div.article ul {
	text-align: left;
	padding: 15px;
	font-size: 14px;
}

div#main div.article ul li {
	margin-bottom: 15px;
}






div#main div.bottom {
	width: 400px;
	height: 20px;
	margin-bottom: 20px;
	background: url(../sharedimg/bg_article_bottom.gif) no-repeat top left;
}



/* aside */
/* -------------------------------------------------- */


div#aside {
	width: 290px;
	padding-left: 22px;
	float: right;
}

div#aside div.article {
	margin-bottom: 20px;
	color: #5e5d51;
}


div#aside p {
	text-align: left;
	font-size: 12px;
	padding: 8px;
}


div#aside a#schedule {
	display: block;
	width: 250px;
	height: 140px;
	padding: 60px 20px 20px 20px;
	background: url(../sharedimg/img_kokuban.gif) no-repeat top left;
	color: #fff;
	font-size: 14px;
	text-align: left;
	margin-bottom: 20px;
}

div#aside a#schedule span {
	font-size: 18px;
}

div#aside div.figure {
	text-align: center;
	margin: 10px 0;
}


/* --------------  event  ----------------- */


div#event_photo {
	position: relative;
	width: 263px;  /* 290-27px*/
	height: 240px;
	padding: 23px 0 0 27px;
	background: url(../sharedimg/base_event_photo.gif) no-repeat top left;

}

div#event_photo a.prev {
	position: absolute;
	top: 100px;
	left: 14px;
	z-index: 3;
}

div#event_photo a.next {
	position: absolute;
	top: 100px;
	right: 3px;
	z-index: 3;
}

div#event_photo div.base {
	width: 228px; /*  250-22*/
	height: 192px;
	padding: 12px 0 0 22px;
	background: url(../sharedimg/frame_event_photo.gif) no-repeat top left;
}

div#event_photo div.jCarouselLite {
}





