@charset "utf-8";

/*=========================================================
 *
 *	css file for "direct-comm.com"
 *	file name : sp.css
 *
=========================================================*/

/*-----------------pc style-----------------------*/
div#header,
div#footer {
	min-width: 1064px;
}
div#container {
	padding: 0 20px;
}
.bt_curri {
	display: none;
}

/*-----------------sp style-----------------------*/
@media screen and (max-width: 569px) {
	body {
		max-width: 0;
		min-width: 100%;
		width: auto;
	}
	div#header,
	div#footer {
		min-width: 0;
	}
	div#container {
		padding: 0;
	}

/*-------------header-------------------*/
	div#header {
		height: auto;
		background: none;
		border-top: #3aa537 solid 3px;
	}
	div#headercontainer {
		position: relative;
		width: auto;
		padding: 10px 0 15px;
		background: url(../../sharedimg/sp/bg-hdr.gif) repeat-x right top;
		background-size: auto 100%;
	}
	div#headercontainer:before {
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		height: 50px;
		width: 70px;
		background: url(../../sharedimg/sp/bg-hdr01.gif) no-repeat left top;
		background-size: auto 100%;
	}
	div#headercontainer:after {
		position: absolute;
		top: 0;
		right: 0;
		content: '';
		height: 50px;
		width: 70px;
		background: url(../../sharedimg/sp/bg-hdr02.gif) no-repeat right top;
		background-size: auto 100%;
		visibility: visible;
	}
	div#headerright {
		display: none;
	}
	div#logowrap {
		position: relative;
		float: none;
		padding: 0;
		text-align: center;
		z-index: 5;
	}

	div#topicpath {
		width: auto;
		padding: 15px 0 10px;
	}
	div#topicleft {
		width: auto;
	}
	div#topicright {
		display: none;
	}
	#cloud_nav,
	#gnav {
		display: none;
	}


/*-------------spvisual-------------------*/
	#spvisual {
		display: block;
	}
	#spvisual img {
		display: block;
		width: 100%;
		height: auto;
	}

/*-------------spnav-------------------*/
	#spnav {
		display: block;
	}
	#spnav ul {
		padding-left: 1px;
		zoom: 1;
		border-bottom: #e4e1c6 solid 1px;
	}
	#spnav ul:after {
		display: block;
		clear: both;
		height: 0;
		content: '';
	}
	#spnav li {
		display: table;
		float: left;
		width: 50%;
		height: 45px;
		border-top: #e4e1c6 solid 1px;
	}
	#spnav li:first-child,
	#spnav li:nth-child(2n+1) {
		margin-left: -1px;
	}
	#spnav li:nth-child(2n) {
		border-left: #e4e1c6 solid 1px;
	}
	#spnav li a {
		position: relative;
		display: table-cell;
		color: #8f8974;
		font-size: 14px;
		text-decoration: none;
		vertical-align: middle;
		background: url(../../sharedimg/sp/bg-nav.gif) repeat-x left top;
		background-size: auto 100%;
	}
	#spnav li a:after {
		position: absolute;
		top: 50%;
		left: 10px;
		display: block;
		content: '';
		width: 15px;
		height: 15px;
		margin-top: -8px;
		background-position: left top;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	#spnav li.n01 a:after {background-image: url(../../sharedimg/sp/icon_intro.png);}
	#spnav li.n02 a:after {background-image: url(../../sharedimg/sp/icon_training.png);}
	#spnav li.n03 a:after {background-image: url(../../sharedimg/sp/icon_course.png);}
	#spnav li.n04 a:after {background-image: url(../../sharedimg/sp/icon_colums.png);}
	#spnav li.n05 a:after {background-image: url(../../sharedimg/sp/icon_text.png);}
	#spnav li.n06 a:after {background-image: url(../../sharedimg/sp/icon_teacher.png);}
	#spnav li.n07 a:after {background-image: url(../../sharedimg/sp/icon_event.png);}
	#spnav li.n08 a:after {background-image: url(../../sharedimg/sp/icon_contact.png);}
	#spnav li a:hover,
	#spnav li.on a {
		color: #fff;
		background: #64b386;
	}
	#spnav li.n01 a:hover:after,
	#spnav li.n01.on a:after {background-image: url(../../sharedimg/sp/icon_intro_hover.png);}
	#spnav li.n02 a:hover:after,
	#spnav li.n02.on a:after {background-image: url(../../sharedimg/sp/icon_training_hover.png);}
	#spnav li.n03 a:hover:after,
	#spnav li.n03.on a:after {background-image: url(../../sharedimg/sp/icon_course_hover.png);}
	#spnav li.n04 a:hover:after,
	#spnav li.n04.on a:after {background-image: url(../../sharedimg/sp/icon_colums_hover.png);}
	#spnav li.n05 a:hover:after,
	#spnav li.n05.on a:after {background-image: url(../../sharedimg/sp/icon_text_hover.png);}
	#spnav li.n06 a:hover:after,
	#spnav li.n06.on a:after {background-image: url(../../sharedimg/sp/icon_teacher_hover.png);}
	#spnav li.n07 a:hover:after,
	#spnav li.n07.on a:after {background-image: url(../../sharedimg/sp/icon_event_hover.png);}
	#spnav li.n08 a:hover:after,
	#spnav li.n08.on a:after {background-image: url(../../sharedimg/sp/icon_contact_hover.png);}
	#spnav li a span {
		display: block;
		font-size: 11px;
	}


/*-------------container-------------------*/
	div#container {
		width: auto;
	}

/*-------------sidebar-------------------*/
	div#sidebar {
		display: none;
	}


/*-------------content-------------------*/
	div#content {
		float: none;
		width: auto;
		padding: 0;
	}
	div#contenttop,
	div#bg_contentbottom {
		display: none;
	}


/*-------------sp_subnav-------------------*/
	.sp_subnav {
		display: block;
		margin: 0 7px;
		font-size: 14px;
	}
	.sp_subnav .sp_sbtitle {
		padding: 15px 0 15px 15px;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		background-color: #64b386;
		background-image: url(../../sharedimg/sp/bg-nav02.gif);
		background-repeat: no-repeat;
		background-position: left top;
		background-size: 100% auto;
	}
	.sp_subnav li {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: table;
		width: 100%;
		height: 45px;
		padding-left: 10px;
		background: #fefedf;
		border-top: #fff solid 1px;
		border-bottom: #e7e7d0 solid 1px;
	}
	.sp_subnav li a {
		position: relative;
		display: table-cell;
		width: 100%;
		padding-left: 25px;
		color: #696657;
		vertical-align: middle;
		background: url(../../sharedimg/sp/icon_futaba.png) no-repeat left center;
		text-decoration: none;
	}
	.sp_subnav li a:after {
		position: absolute;
		top: 50%;
		right: 12px;
		display: block;
		content: '';
		width: 19px;
		height: 18px;
		margin-top: -9px;
		background: url(../../sharedimg/sp/arw-02.gif) no-repeat right top;
	}

/*-------------main-------------------*/
	div.main {
		padding: 0;
	}
	div.main p.title_01,
	div.main p.title_01_02 {
		position: relative;
		width: auto;
		height: auto;
		margin-bottom: 15px;
		padding: 12px 10px 8px 40px;
		color: #fef8ed;
		font-size: 16px;
		line-height: 1.4;
		font-weight: bold;
		background-image: url(../../sharedimg/sp/bg-title.gif);
		background-repeat: repeat-x;
		background-position: left top;
		background-color: #64b386;
	}
	div.main p.title_01:after,
	div.main p.title_01_02:after {
		position: absolute;
		top: 15px;
		left: 13px;
		content: '';
		height: 17px;
		width: 20px;
		background: url(../../sharedimg/sp/arw.gif) no-repeat right top;
		background-size: 100% auto;
	}
	.curriculum_area {
		display: none;
	}
	div#curriculumtop,
	div#curriculum,
	div#curriculumbottom {
		width: auto;
		margin-left: 20px;
		margin-right: 20px;
		background-size: 100% auto;
	}
	div#curriculumtop {
		height: 0;
		margin-top: 0;
		padding-bottom: 4%;
	}
	.bt_curri {
		display: block;
		margin-left: 20px;
		margin-right: 20px;
		padding: 10px 10px 8px;
		color: #fff;
		font-size: 114.3%;
		font-weight: bold;
		background: #64b386;
		border-radius: 7px;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		cursor: pointer;
	}
	.bt_curri span {
		display: block;
		background: url(../../sharedimg/text/index/bt-curri.gif) no-repeat right top;
		background-size: 22px auto;
	}
	.bt_curri.close span {
		background: url(../../sharedimg/text/index/bt-curri.gif) no-repeat right bottom;
		background-size: 22px auto;
	}


/*-------------footer-------------------*/
	div#footer div#pagetop {
		position: relative;
		height: auto;
		margin-left: -30%;
		padding-top: 150px;
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: 800px auto;
	}
	div#pagetop div#btn_pagetop {
		position: absolute;
		right: 5px;
		bottom: 5px;
		padding: 0;
	}
	div#footercontainer div#nav {
		display: none;
		width: auto;
	}
	div#footercontainer br.brclear {
		display: none;
	}
	div#footercontainer div#small {
		background: #99ad9f;
		text-align: center;
	}
	div#footercontainer div#small span {
		width: auto;
		text-align: center;
	}
	div#footercontainer div#small .pc {
		display: none;
	}
	div#footercontainer div#small .sp {
		display: inline-block;
	}

    /* image wrap */
    /* -------------------------------------------------- */
    .image-wrap-left {
        padding: 0 0 1rem;
        width: auto;
        height: 160px;
        text-align: center;
        float: none;
    }
    .image-wrap-left img {
        margin: 0 auto;
        width: auto;
        height: 100%;
    }
    .image-wrap-right {
        padding: 0 0 1rem;
        width: auto;
        height: 160px;
        text-align: center;
        float: none;
    }
    .image-wrap-right img {
        margin: 0 auto;
        width: auto;
        height: 100%;
    }

}